@page
@model CuidadoEquino.App.FrontEnd.Pages.DetallePropietarioModel
@{
    ViewData["FormName"] = "Agregar Propietario";
}
<div>
    <div>
        <h3 class="display-10 d-inline">@ViewData["FormName"]</h3>
    </div>
    <div class="shadow mt-5 p-3 rounded">
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <select class="form-select" id="tipo_id">
                            <option selected>Tipo ID</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" id="identificacion" placeholder="ID" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <input class="form-control" id="nombres" placeholder="Nombres" />
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="apellidos" placeholder="Apellidos" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <input class="form-control" id="direccion" placeholder="Dirección" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="telefono" placeholder="Teléfono" />
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" id="email" placeholder="Email" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>