@page
@model CuidadoEquino.App.FrontEnd.Pages.ListarPropietariosModel
@{
    var title = "Lista de Propietarios";
    ViewData["Title"] = title;
}

<div>
    <div>
        <h3 class="display-10 d-inline">Propietarios</h3>
        <span class="d-inline float-end">
            <!--<a type="button" class="btn btn-success" href="#">Consultar</a>-->
            <a type="button" class="btn btn-primary" asp-area="" asp-page="/Propietarios/DetallePropietario">Registrar</a>
        </span>
    </div>
    <div class="shadow mt-5 p-3 rounded">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9999999</td>
                    <td>Alberto Gomez</td>
                    <td>320 3823829</td>
                    <td>example@example.com</td>
                    <td>
                        <a type="button" class="btn btn-info"><i class="bi bi-credit-card-2-front"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>